@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&family=Montserrat:wght@300;500;600&family=Rubik:wght@300;400&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS';
    background-color: #fff;
}

/* main */
.wrapper-main-part {
    display: flex;
}
.title-header {
    margin-top: 0;
    background-color: rgb(62, 62, 187);
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fff;
    height: 200px;
}
.main {
    background-color: #fff;
    width: 70%;
    flex-basis: 70%;
    font-family: 'Kanit', sans-serif;

}


.main-title{
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 5%;
    
}
.main-subtitle {
    padding-left: 5%;
    padding-bottom: 2%;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.main-title-list {
    font-size: 1.5em;
}

/* profile */
.profile {
    width: 30%;
    color: blue;
    flex-basis: 30%;
    background-color: #c6c6c6;
    background-color: rgb(17, 20, 72);
    font-family: 'Kanit', sans-serif;


}

.profile-title {
    font-size: 1.7em;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 0;
}

.profile-list {
    font-size: 1.5em;
    color: #fff;
    list-style: none;
    padding-top: 3%;
    margin: 0;
}

.profile-list:last-child{
    padding-bottom: 15%;
}

.profile-list li{
    padding-bottom: 2%;
}

/* footer */
.footer {
    background-color: #fff;
    height: 50px;
}

.footer span {
    padding-left:  10%;
    padding-right: 10%;
    padding-top: 50%;
    width: 80%;
}

.main-information {
    padding: 2% 10%;
    width: 80%;
}

.about-me {
    display: block; 
    text-align: justify;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-list {
    font-size: 1.2em;
    list-style:none;
    padding-left: 0;

}
.main-list li{
    padding-bottom: 2%;
}

.image-logo {
    margin-top: 10%;
    margin-left: 25%;
    border: 1px solid blue;
    border-radius: 110px;
    width: 220px;
}
.footer {
    text-align: center;
    padding-top: 2%;
}